@model IEnumerable<VeloceCars.Models.DriverViewModels.DriverListViewModel>

@{
    Layout = "~/Views/Report/_ReportLayout.cshtml";
}



<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle)
            </td>
        </tr>
        }
    </tbody>
</table>
