@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>We value your feedback and welcome any comments you may have to help improve our programs and services.</p>
