@{
    ViewData["Title"] = "Student Info";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    CL/HNDCOM/70/33<br />
    Kamalraj T.<br />
    Contact: +971 55 82 34 321
</address>

<address>
    <strong>GitHub:</strong> <a href="https://github.com/Kirk-Str">KirkStr</a><br />
    <strong>StackOverflow:</strong> <a href="http://stackoverflow.com/users/3082414/kirk">Kirk</a>
</address>
