@{
    ViewData["Title"] = "This Project";
}

<div class="jumbotron setbg" style="height:200px; background-position-y:-200px">
    <h2>Veloce Cars, Milano, Italy.</h2>
    <h4>Windows Application Development</h4>
</div>

<h1>Project Scenario</h1>

<p>
    <b>Veloce Cars</b> (VC) is a well-known cab service in Milano Italy, now planning to expand their services around the country. VC has established cab service depots in major cities around the country with small operation offices. All the cab reservations are going to be handled by the VC headquarters in Milano city.
    VC is planning to add the reservation facility to their existing website. Also need to have a facility to the HQ reservation center employees to handle the reservation requests. Reservation request can be made by as a web request or a call request. VC cab drivers should have a facility to inform their status to the company reservation center.
</p>

<br />

<h4>Headquarters</h4>
<ol>
    <li>Manage travel packages</li>
    <li>Handle online reservation requests and call requests.</li>
    <li>Create and view reports.</li>
</ol>

<h4>Branch</h4>
<ol>
    <li>Manage vehicle and driver data</li>
    <li>Handle complaints and comments</li>
</ol>

<h4>Drivers</h4>
<ol>
    <li>Update their status</li>
    <li>Calculate tour fare</li>
    <li>Update their tour details</li>
</ol>
<h4>Client</h4>
<ol>
    <li>Place reservation requests</li>
    <li>Get/Calculate tour cost</li>
    <li>Add comments regarding services</li>
</ol>

<br />

<p>
    All reservation should be automated without involvement of the VC staff only the call reservations should be handle by the VC staff.
    Currently VC operates on Windows operating system environment and also all the drivers are equipped with smart phone devices that run on different platforms.
    Clients might be accessing the reservation from their mobile or desktops in any platform.
</p>

